<div ng-controller="bellCtrl">
<table>
	<tr>
    <td style="text-align:left;">I would like a reminder <select name="singleSelect" ng-model="m.bellType">
      <option value="big">big</option>
      <option value="small">small</option>
    </select> bell at</td>
    <td><input type="number" max="23" min="0" size=2 maxlength=2 ng-model="m.hour" ng-value="m.hour">:
		<input type="number" max="59" min="0" size=2 maxlength=2 ng-model="m.minute" ng-value="m.minute">:
		<input type="number" max="59" min="0" size=2 maxlength=2 ng-model="m.second" ng-value="m.second">
	</td>
	<td>
		<label>
		    <input type="radio" ng-model="m.ap" value="am">
		    AM
		</label>
		<label>
		    <input type="radio" ng-model="m.ap" value="pm">
		    PM
		</label>
	</td>
    <td style="text-align: center"><button ng-click="startBell()" ng-disabled="disabled">Set</button></td>
	<td style="text-align: center"><button ng-click="stopTimer()" ng-disabled="!disabled">Stop</button></td>
	</tr>
</table>
</div>